html {
    font-family: 'Times New Roman', Times, serif;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

.resaltado {
    background: yellowgreen;
}

.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    /* Siempre en pantalla   */
    top: 0px;
    background-color: white;
    border-radius: 10px;
}

header {
    display: flex;
    text-align: center;
    flex-direction: row;
}

.icon-bar {
    background-color: white;
}

.box {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

p {
    font-style: italic;
}

h1 {
    font-size: 2rem;
    justify-content: center;
    width: 100%;
}

h2,
h3,
li {
    font-family: cursive;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #202226;
    border-radius: 10px;
}

.menu .actual {
    font-style: italic;
    color: red;
}

button {
    border-radius: 10px;
    border: 1px solid blue;
    font-size: 1.2rem;
    outline: none;
    background-color: white;
    color: black;
}

button:not(:disabled) {
    outline: none;
}


/*    
    por especeficidad gana .actual sobre a 
*/

.menu a {
    padding: 10px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: blue;
}

.banner-image {
    display: block;
    margin: 10px 0px;
}

img {
    width: 100%;
    /* ancho del padre*/
}

video {
    width: 100%;
}

form {
    width: 100%;
    /* ancho del padre*/
    display: flex;
    flex-direction: column;
}

form * {
    margin: 5px;
}

.captcha {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.captcha * {
    margin: 1rem;
}

.conteiner {
    display: grid;
    grid-template-areas: 'conteiner-left' 'conteiner-right';
    padding: 1rem;
}

.conteiner-left {
    display: grid;
    grid-area: conteiner-left;
    text-align: justify;
    font-size: 1.2rem;
    /*se agrega para que grid no me ajuste el height*/
    grid-auto-rows: max-content;
}

.conteiner-right {
    display: grid;
    grid-area: conteiner-right;
    font-size: 1rem;
    grid-auto-rows: max-content;
}

footer {
    display: flex;
    justify-content: flex-end;
    color: #202226;
}

footer * {
    margin: 10px;
}

.box-captcha {
    display: block;
    align-items: center;
    padding: 10px;
}

.re-captcha {
    display: flex;
    flex-direction: column;
}

.oculto {
    display: none;
}

.captcha img {
    max-width: 64px;
}

form input,
form select {
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    font-size: 1rem;
}

.buttonAceptar {
    border-radius: 10px;
    border: 1px solid blue;
    font-size: 1.2rem;
    background-color: green;
    color: white;
}

.buttonAceptar:disabled {
    background-color: white;
    color: gray;
}

.conteiner-flex {
    display: flex;
    flex-direction: column;
}

.menu-responsive {
    display: flex;
}

.icon-menu {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border: 0;
}

@media only screen and (min-width:600px) {
    .conteiner {
        grid-template-areas: 'conteiner-left conteiner-right';
        grid-template-columns: 7fr 3fr;
        /*grid-gap esta deprecado por eso usamos gap*/
        gap: 1rem;
    }
}

@media only screen and (min-width:800px) {
    .icon-menu {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width:1024px) {
    .conteiner-mid section {
        display: grid;
        grid-area: section;
    }
    .conteiner-mid aside {
        display: grid;
        grid-area: aside;
    }
    .conteiner-mid {
        display: grid;
        grid-template-areas: 'section aside';
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
}